/* Tiny Scrollbar */
.scrollbar-style
	width: 100%	

	.viewport
		width: 100%px
		text-align: center
		height: 320px
		overflow: hidden
		position: relative

	.overview
		list-style: none
		position: absolute
		left: 55px
		top: 0
		padding: 0
		margin: 0

	.scrollbar
		background: transparent image-url("bg-scrollbar-track-y.png") no-repeat 0 0
		position: relative
		background-position: 0 0
		float: right
		width: 14px
		margin-right: 4px

	.track
		background: transparent image-url("bg-scrollbar-trackend-y.png") no-repeat 0 100%
		height: 100%
		width: 14px
		position: relative
		top: 5px		

	.thumb
		background: transparent image-url("bg-scrollbar-thumb-y.png") no-repeat 50% 100%
		height: 20px
		width: 8px
		background: #FDB431 
		border-radius: 10px
		cursor: pointer
		overflow: hidden
		position: absolute
		top: 0
		left: 3px

	.thumb .end
		background: transparent image-url("bg-scrollbar-thumb-y.png") no-repeat 50% 0
		overflow: hidden
		height: 14px
		width: 26px

	.disable
		display: none

.switch	
	display: block
	box-sizing: border-box
	width: 46px
	height: 18px
	border-radius: 999px
	+s(switcher-bg)
	margin-bottom: 10px
	-webkit-transition: background-color cubic-bezier(.25, .46, .45, .94) .2s
	-moz-transition: background-color cubic-bezier(.25, .46, .45, .94) .2s
	transition: background-color cubic-bezier(.25, .46, .45, .94) .2s
	position: relative
	top: -3px

.switch .helper		
	+s(toggle-bg)
	-webkit-transition-property: -webkit-transform
	-moz-transition-property: -moz-transform
	transition-property: transform
	-webkit-transition-duration: .2s
	-moz-transition-duration: .2s
	transition-duration: .2s
	-webkit-transition-timing-function: cubic-bezier(.25, .46, .45, .94)
	-moz-transition-timing-function: cubic-bezier(.25, .46, .45, .94)
	transition-timing-function: cubic-bezier(.25, .46, .45, .94)

.switch.ui-checked
	border-color: #4cd864
	background-color: #4c4c4c

.switch.ui-checked .helper
	-webkit-transform: translateX(30px)
	-moz-transform: translateX(30px)
	-ms-transform: translateX(30px)
	-o-transform: translateX(30px)
	transform: translateX(30px)

.slider-bg
	width: 423px
	height: 26px
	+s(slider-bg)
	margin: 0 auto

	.slider	
		position: relative		
		margin-bottom: 20px
		width: 395px		
		margin-left: 2px

.ui-slider-handle
	width: 25px
	height: 24px
	position: absolute
	top: 1px	
	z-index: 700	
	+s(slider-button)

#slider-result
	color: #ffc600
	text-align: center
	margin-top: 35px
	margin-bottom: 35px
	+museosans
	font-size: 21px

/* Datepacker */
.ui-icon
	display: block
	text-indent: -99999px
	overflow: hidden
	background-repeat: no-repeat

.ui-datepicker 
	width: 17em
	padding: .2em .2em 0
	display: none	

.ui-datepicker .ui-datepicker-header 
	position: relative
	padding: .2em 0
	font-weight: normal

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next 
	position: absolute
	top: 6px	
	width: 1.8em
	height: 1.8em

.ui-datepicker .ui-datepicker-prev 
	left: 20px

.ui-datepicker .ui-datepicker-next 
	right: 20px

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span 
	display: block
	position: absolute
	left: 50%
	margin-left: -8px
	top: 50%
	margin-top: -8px

.ui-datepicker .ui-datepicker-title 
	margin: 0 2.3em
	line-height: 1.8em
	text-align: center
	font-size: 17px	

.ui-datepicker .ui-datepicker-title select 
	font-size: 1em
	margin: 1px 0

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year 
	width: 45%	

.ui-datepicker-month 
	font-size: 16.4px	
	+helvb

.ui-datepicker-year 
	display: none

.ui-datepicker table 
	width: 90%
	font-size: 12px
	border-collapse: collapse
	table-layout: fixed
	margin-left: 10px
	margin-top: -5px

	tbody		
		border-bottom: 1px solid #454545
		border-right: 1px solid #454545
		border-top: 1px solid #1c1d1e
		border-left: 1px solid #1c1d1e		

.ui-datepicker th
	padding: .7em .3em
	text-align: center	
	border: 0
	width: 24px
	+helvb

.ui-datepicker tr 		
	height: 18.5px
	line-height: 18.5px
	border-top: 1px solid #1c1d1e

.ui-datepicker td	
	width: 15px
	+helvb
	font-size: 12px	
	border: 1px solid #1c1d1e	

.ui-datepicker td span,
.ui-datepicker td a 
	display: block	
	text-align: right
	text-decoration: none
	width: 15px	
	border-left: 1px solid #302e2e
	border-top: 1px solid #302e2e	

.ui-datepicker .ui-datepicker-buttonpane 
	background-image: none
	margin: .7em 0 0 0
	padding: 0 .2em
	border-left: 0
	border-right: 0
	border-bottom: 0

.ui-datepicker .ui-datepicker-buttonpane button 
	float: right
	margin: .5em .2em .4em
	cursor: pointer
	padding: .2em .6em .3em .6em
	width: auto
	overflow: visible

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current 
	float: left

/* Component containers */
.ui-widget 
	font-family: Tahoma,Verdana,Arial,sans-serif
	font-size: 1.1em

.ui-widget .ui-widget 
	font-size: 1em

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button 
	font-family: Tahoma,Verdana,Arial,sans-serif
	font-size: 1em

.ui-datepicker
	+s(datepicker-bg)
	width: 243px
	height: 218px
	color: #fff
	padding-top: 20px
	font-size: 12px

	.ui-widget-content a 
		color: #333333

	.ui-widget-header 	
		color: #ffffff
		font-weight: bold

	.ui-widget-header a 
		color: #ffffff

	/* Interaction states */
	.ui-state-default,
	.ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default 	
		font-size: 11px
		font-weight: bold
		color: #fff
		text-align: center	
		width: 100%

	.ui-state-default a,
	.ui-state-default a:link,
	.ui-state-default a:visited 
		color: #1c94c4
		text-decoration: none

	.ui-state-hover,
	.ui-widget-content .ui-state-hover,
	.ui-widget-header .ui-state-hover,
	.ui-state-focus,
	.ui-widget-content .ui-state-focus,
	.ui-widget-header .ui-state-focus 	
		font-weight: bold
		color: #c77405
		cursor: pointer

	.ui-state-hover a,
	.ui-state-hover a:hover,
	.ui-state-hover a:link,
	.ui-state-hover a:visited,
	.ui-state-focus a,
	.ui-state-focus a:hover,
	.ui-state-focus a:link,
	.ui-state-focus a:visited 
		color: #c77405
		text-decoration: none	

	.ui-state-active,
	.ui-widget-content .ui-state-active,
	.ui-widget-header .ui-state-active 	
		background: #000
		font-weight: bold
		color: #eb8f00		

	.ui-state-active a,
	.ui-state-active a:link,
	.ui-state-active a:visited 
		color: #eb8f00
		text-decoration: none

	/* Interaction Cues */
	.ui-state-highlight,
	.ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight 	
		background: #f4be00
		color: #133944
		height: 17px
		line-height: 17px
		width: 29px
		margin-left: 1px		

	.ui-state-highlight a,
	.ui-widget-content .ui-state-highlight a,
	.ui-widget-header .ui-state-highlight a 
		color: #363636		

	.ui-state-error,
	.ui-widget-content .ui-state-error,
	.ui-widget-header .ui-state-error 
		border: 1px solid #cd0a0a
		background: #b81900
		color: #ffffff

	.ui-state-error a,
	.ui-widget-content .ui-state-error a,
	.ui-widget-header .ui-state-error a 
		color: #ffffff

	.ui-state-error-text,
	.ui-widget-content .ui-state-error-text,
	.ui-widget-header .ui-state-error-text 
		color: #ffffff

	.ui-priority-primary,
	.ui-widget-content .ui-priority-primary,
	.ui-widget-header .ui-priority-primary 
		font-weight: bold

	.ui-priority-secondary,
	.ui-widget-content .ui-priority-secondary,
	.ui-widget-header .ui-priority-secondary 
		opacity: .7
		/* support: IE8 */
		filter: Alpha(Opacity=70)
		font-weight: normal
		color: #485558

	.ui-state-disabled,
	.ui-widget-content .ui-state-disabled,
	.ui-widget-header .ui-state-disabled 
		opacity: .35
		/* support: IE8 */
		filter: Alpha(Opacity=35)
		background-image: none

	.ui-state-disabled .ui-icon 
		/* support: IE8 - See #6059 */
		filter: Alpha(Opacity=35)

	/* states and images */
	.ui-icon 
		width: 16px
		height: 16px

	/* Corner radius */
	.ui-corner-all,
	.ui-corner-top,
	.ui-corner-left,
	.ui-corner-tl 
		border-top-left-radius: 4px

	.ui-corner-all,
	.ui-corner-top,
	.ui-corner-right,
	.ui-corner-tr 
		border-top-right-radius: 4px

	.ui-corner-all,
	.ui-corner-bottom,
	.ui-corner-left,
	.ui-corner-bl 
		border-bottom-left-radius: 4px

	.ui-corner-all,
	.ui-corner-bottom,
	.ui-corner-right,
	.ui-corner-br 
		border-bottom-right-radius: 4px

	/* Overlays */
	/* support: IE8 */
	.ui-widget-overlay 
		background: #666666
		opacity: .5
		filter: Alpha(Opacity=50) 

	/* support: IE8 */
	.ui-widget-shadow 
		margin: -5px 0 0 -5px
		padding: 5px
		background: #000000
		opacity: .2
		filter: Alpha(Opacity=20)
		border-radius: 5px

	.ui-icon-circle-triangle-w
		+s(datepicker-prev)

	.ui-icon-circle-triangle-e 
		+s(datepicker-next)